/* Container */
.tournament-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Items */
.battle-item {  
  display:flex;
  width: 100%;
  height:15%;
  min-height:120px;
  margin: 10px;
  text-align: center;
  background-color: #e10808;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height:40px;
  background-color: #5590f5;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.trophy{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height:100%;
  background-color: #5590f5;
}
.summary{
  display:flex;
  flex-wrap: wrap;
  align-items: space-aournd;
  justify-content: flex-start;
  width: 60%;
  height:65%;
  background-color:transparent
}
.reward{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height:100%;
  background-color: #c2f555;
}
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



